.container {
	// margin: 0 auto;
	position: relative;
}
@supports (-webkit-touch-callout: none) {
	.container {
		/* The hack for Safari */
		height: -webkit-fill-available;
	}
}

.backgroundContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;

	.backgroundImage {
		position: absolute;
		object-fit: contain;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.canvas {
		position: fixed;
		top: 0;
		left: 0;
	}
}

.buttonContainer {
	position: fixed;
	padding: 16px 8px;
	top: 180px;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	z-index: 100;
	background-color: rgba(241, 241, 241);
	.button {
		background-color: transparent;
		border: none;
		outline: none;
		height: fit-content;
	}
}
