.card {
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.162);
	margin: 20px 0;
	text-align: center;
	// width: 100%;
}

$max-height: 100vh;
@supports (-webkit-touch-callout: none) {
	$max-height: -webkit-fill-available;
}

.pageContainer {
	height: calc($max-height - 160px);
	overflow: scroll;
}
