.container {
	padding: 0 40px;
}

.sectionTitle {
	color: #06357b;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.button {
	background-color: #06357b;
	border-color: transparent;
	border-radius: 4px;
}

.separator {
	border: 1px solid #06357b;
	margin: 2rem auto;
	width: 500px;
}
