.container {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 70px;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
	max-width: 820px;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu {
	padding: 16px;
	border-radius: 50px;
	color: black;
	&:hover {
		background-color: #f5f5f5;
	}
}
