.container {
	margin-bottom: 80px;
}

.player {
	margin: 0 auto;
	height: auto !important;
	video {
		border-radius: 10px;
	}
}

.container {
	padding: 0 20px;
}

.card {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.active {
	border: 1px solid #06357b;
}

.globalInformation {
	margin: 0;
}

.clubLogo {
	border-radius: 10px;
}

.scoreContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score {
	font-weight: 700;
	font-size: 2rem;
}

.tabContainer {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 20px 0;
}

.tab {
	border-radius: 6px;
	font-size: 1.5rem;
	padding: 12px 18px;
	background-color: #f6f6f6;
	color: #c6c6c6;

	&.active {
		border: 1px solid #06357b;
		background-color: #06357b1e;
		color: #06357b;
	}
}
